extend layout

block content
  p.foo Note-Taker is a modern tool to manage your notes!
  p You can create notes, delete them, update them, differentiate favorite notes.
  p Created by WIUT 00011111 Student.
  br
  a(href='/notes/create').button Create note